.card {
  width: 540px;
}

.card__list {
  padding: 0;
margin: 0;
list-style-type: none;
flex-direction: column;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter";
font-weight: bold;
font-size: 20px;
line-height: 30px;
}

.card__list-item {
margin-bottom: 16px;
display: flex;
font-family: "Noto Serif";
font-size: 16px;
line-height: 20px;
gap: 5px;
}
.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}