.header {
  padding: 30px 80px 40px;
  min-height:  720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 2;
  }

  .header__span-accent {
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
  display: block;
  }

  .header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
    font-family: "Noto Serif", 'Times New Roman', serif;
   }

   .header__image {
    display: flex;
    position: absolute;
    right: 5px;
    top: 124px;
    max-width: 646px;
    height: 568px;
    z-index: -1;
   }

   .header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-family: "Inter";
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #838383
   }

   .header__paragraph {
    margin: 0;
    margin-top: auto;
   }